.calc-form__container {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.calc-form__set {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calc-form__title {
  font-size: 20px;

  @media (min-width: 1024px) {
    font-size: 28px;
  }
}

.calc-form__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 90px 1fr;
    font-size: 28px;
  }
}

.calc-form__input {
  font-size: 30px;
  width: 100%;
  box-sizing: border-box;
}

.calc-form__block-total {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px;
  font-size: 20px;

  @media (min-width: 1024px) {
    font-size: 28px;
  }
}

.calc-form__total {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.calc-form__button {
  padding: 20px;
  font-size: 18px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
