.calc-form__container {
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.calc-form__set {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calc-form__title {
  font-size: 28px;
}

.calc-form__field-wrapper {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px;
}

.calc-form__input {
  font-size: 30px;
}

.calc-form__block-total {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px;
}

.calc-form__total {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
